<% provide(:title, "Edit User") %>

<div class="row">
  <div class="large-8 large-centered columns panel">

    <h1 class="text-center">Update your profile</h1>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="row">
          <div class="small-3 columns">
            <%= f.label :name, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :password, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :password_confirmation, "Confirm Password", class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="row text-center">
          <%= f.submit "Save changes", class: "button round" %>
        </div>




    <% end %>
    <div class="row">
      <div class="large-6 columns text-right">
        <%= gravatar_for(@user, size: 100)%>
      </div>
      <div class="large-6 columns">
        <a href="http://gravatar.com/emails" class="button round">change</a>
      </div>
    </div>


  </div>
</div>