<% provide(:title, 'Sign Up') %>


<div class="row">
  <div class="large-8 large-centered columns panel">

    <h1 class="text-center">Sign Up</h1>
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="row">
          <div class="small-3 columns">
            <%= f.label :name, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <%= f.label :password, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <%= f.label :password_confirmation, class: "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="row text-center">
            <%= f.submit "Create my account", class: "button round" %>
        </div>

    <% end %>
  </div>
</div>