<tr>
  <td><%= date_format(schedule.class_date) %></td>
  <td><%= time_format(schedule.class_time) %></td>
  <td><%= schedule.class_duration %></td>
  <td><%= schedule.student %></td>
  <td><%= schedule.class_type %></td>
</tr>